<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Boostrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <!-- foontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>



    <link rel="stylesheet" href="css/style.css">

    <title>Vue Slider</title>
</head>

<body>

    <div id="app" class="container">


        <div class="row mt-5 slider-box">
            <div class="col-10 section-left p-0 position-relative">

                <div class="slide" v-for="elemento,indice in listaImg">
                    <img class="img-big active" v-bind:src="listaImg[indice].urlImg" v-bind:alt=`immagine-${indice}`>

                    <div class="text-box active">
                        <h1>{{listaImg[indice].titolo}}</h1>
                        <p>{{listaImg[indice].testo}}</p>
                    </div>
                </div>


            </div>



            <div class="col-2 section-right p-0 position-relative">
                <div class="nav-slider nav-ico">
                    <i class="arrow-up fas fa-chevron-circle-up"></i>

                    <i class="arrow-down fas fa-chevron-circle-down"></i>

                </div>
                <div class="box-img-section-right" v-for="imgPreviw, i in listaImg">
                    <img class="img-section-right" v-bind:src="listaImg[i].urlImg" alt="">
                    <div class="active-layer active"></div>
                </div>


            </div>
        </div>
    </div>

    <script src="js/script.js"></script>

</body>

</html>